* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 17, 17);
  color: silver;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: max-content;
  margin: 0.5rem 0;
}

.container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 700px auto;
  max-width: 1000px;
  height: 600px;
  border: 2px solid silver;
}

canvas {
  border-right: 2px solid silver;
}

select,
input,
button,
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(17, 17, 17);
  color: silver;
  border: 2px solid silver;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

button:hover,
a:hover {
  background-color: silver;
  color: rgb(17, 17, 17);
  cursor: pointer;
}
input:disabled {
  background-color: darkgray;
}

label {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.leaderboard {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.leaderboard .body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  width: 100%;
}

.leaderboard .item {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  padding: 0.5rem;
}

.item button {
  grid-column-start: 2;
  grid-row: 1 / span 2;
}

.bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg:has(.hide) {
  display: none;
}

.alert {
  background-color: rgb(17, 17, 17);
  border: 2px solid silver;
  border-radius: 1rem;
  padding: 2%;
  color: silver;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem 6rem;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  color: red;
  font-size: 2rem;
}

.hide {
  display: none;
}

.menu {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
